* {
    margin: 0px;
    padding: 0px;
 }
.Header{
    background-color: #232536;
    height: 80px;
    color: #fff;
    width: auto;
}
.Header-Home {
    list-style: none;
    float: right;
    padding: 33px 20px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: white;
}
.Header-Kucing, .Header-Belanja{
    list-style: none;
    float: right;
    padding: 33px 20px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    opacity: 0.6;
}
.Header-Logo{
    padding: 15px 30px;
    float: left;
}
.Header-text{
    font-size: 20px;
    float: left;
    padding: 25px 0px;
    font-family: 'Segoe UI';
    font-weight: 700;
}
.Main{
    background-color: #fff;
    height: 300px;
    padding: 100px 80px;
}
.Main-Content span{
    color: #ff4a4a;
}
.Main-Content h1{
    font-size: 140px;
}
.Main-Content h2{
    font-size: 60px;
}
.Footer{
    background-color: #FFE6D2;
    color: #000000;
    height: 100px;
    padding: 40px;
}
.Footer-Slogan h2{
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 30px;
    line-height: 28px;
}
.Footer-List {
    float: right;;
}
.Footer-List ul{
    font-size: 16px;
    list-style: none;
    font-family: 'Poppins';
}